# nginx-app.yaml

apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: demo 
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 1 # Specifies that two instances (pods) should be running
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx-container
        image: nginx:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: demo 
spec:
  selector:
    app: nginx # Selects pods with the label 'app: nginx'
  type: LoadBalancer # Use LoadBalancer for cloud environments; use NodePort or ClusterIP otherwise
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80 # The port the container accepts traffic on
